page-about {
   
 ion-label{

    *{
        color: black;
    }
 }  
    }

    ion-item{

        *{
            color: black;
        }
     } 

ion-content{
    *{
        background-color: greenyellow;
    }
}

ion-header{
    *{
        background-color: green;
    }
}
